body {
  overflow:hidden; /* This will remove the default scroll, not really needed, safer nonetheless */
}
html {
  font-size: 20px;
  -webkit-text-size-adjust: 20px;
      -ms-text-size-adjust: 20px;
  font-family: Georgia, Times, serif;
  line-height: 1.2em;
  color:#333;
  background:#fff;
  height: 100%;
}
body {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;

}
h1 {
  font-family: Georgia, Times, serif;
  font-size: 52px;
  text-shadow: 3px 3px 4px lightgray;
  line-height: 1.3em;
  padding: 0px;
  margin: 0px;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
code {
  font-size: 80%;
}
a[href^="http://"]{
  color: #a00;
  text-decoration: underline;
}
a[href^="https://"]{
  color: #a00;
  text-decoration: underline;
}
a[href^="javascript:"]{
  color: #00f;
  text-decoration: none;
}
/*!
 * Bootstrap v2.0.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1px 3px 2px;
  font-size: 10pt;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}
.figure {
  max-width: 100%;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
A:hover {text-decoration: underline}
.headerbox {
  margin: 0px;
}
.content-storage {
  display:none;
}
#column-container {
  margin: 0px;
}
.addRemoveColumn {
  float:right;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fffff2;
  border: 1px solid;
  border-color: #aaa;
}
.column {
  background: #fffff2;
  position:absolute;
  left: 0px;
  overflow:auto;
  border: 1px solid;
  border-color: #aaa;
  margin: 10px;
  padding: 20px;
  float: left;
}
#breadcrumbs {
  margin: 0px;
}